<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <div th:replace="fragments/updateBodyHeader :: bodyHeader"/>
    <form th:action="@{/update/{documentId} (documentId=${form.id})}" th:object="${form}" method="post">

        <div class="form-group">
            <label th:for="title" class="melog-input-label">제목</label>
            <textarea rows="1"
                      type="text"
                      th:field="*{title}"
                      class="melog-textarea"
                      placeholder="제목을 입력하세요">
            </textarea>
            <p th:if="${#fields.hasErrors('title')}" class="melog-error-text" th:errors="*{title}" style="float: bottom">Incorrect data</p>
        </div>

        <div class="form-group">
            <label th:for="content" class="melog-input-label" style="margin-top: 20px">내용</label>
            <textarea id="content"
                      type="text"
                      rows="10"
                      th:field="*{content}"
                      class="melog-textarea"
                      placeholder="내용을 입력하세요">

            </textarea>
            <p th:if="${#fields.hasErrors('content')}" class="melog-error-text" th:errors="*{content}" style="float: bottom">Incorrect data</p>
        </div>

        <div class="form-group">
            <label th:for="writer" class="melog-input-label" style="margin-top: 25px">저자</label>
            <textarea rows="1"
                      type="text"
                      th:field="*{writer}"
                      class="melog-textarea"
                      placeholder="저자를 입력하세요">
            </textarea>

            <p th:if="${#fields.hasErrors('writer')}" class="melog-error-text" th:errors="*{writer}" style="float: bottom">Incorrect data</p>
        </div>

        <button type="submit" class="melog-submit-button" style="margin-top: 70px">Update</button>

    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>