<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">
  <div th:replace="fragments/listBodyHeader :: bodyHeader"></div>
  <div>
    <table class="table table-striped">
      <thead> <tr>
        <th>제목</th> <th>글쓴이</th> <th>글 쓴 시간</th> <th>조회수</th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="document : ${documents}">
        <td>
          <a th:href="@{/view/{id} (id=${document.id})}" th:text="${document.title}" target="_blank" style="color: #20c997"></a>
        </td>

        <td th:text="${document.writer}"></td>
        <td th:text="${#temporals.format(document.writeTime, 'yyyy-MM-dd')}"></td>
        <td th:text="${document.viewCount}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>