<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header>
</header>
<div class="header" th:fragment="bodyHeader">
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <div sec:authorize="isAuthenticated()">
        <h3 class="melog-title">Melog
        <button class="melog-button" style="float: right" onclick="location.href='/write'">글 쓰기</button>
        <button class="melog-auth-button" style="float: right" onclick="location.href='/user/logout'">로그아웃</button>
        <div style="display: flex">
        <p class="melog_name" sec:authentication="principal.username"></p>
        <p class="melog_welcome">님 안녕하세요!</p></div>
        </h3>
    </div>

    <div sec:authorize="isAnonymous()">
        <h3 class="melog-title">
            Melog
        <button class="melog-button" style="float: right" onclick="location.href='/user/register'">회원가입</button>
        <button class="melog-auth-button" style="float: right" onclick="location.href='/user/login'">로그인</button>
        </h3>
    </div>
</div>