<!DOCTYPE html>
<html lang="en">
<head th:replace="common::inhead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="common::head"></div>
<div class="container" style="background-color: #ddd">
    <h1>freeboard</h1>
    <div>
        <table class="table">
            <thead>
                <tr><th>aa</th><th>bb</th></tr>
            </thead>
            <tbody>
                <tr th:each="test:${list}">
                    <td>[[${test.aa}]]</td>
                    <td>[[${test.bb}]]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="common::foot"></div>

</body>
</html>