<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron"> <h1>HELLO JPA</h1>
        <p class="lead">게시물 보기</p> <p>
            <a class="btn btn-lg btn-secondary" href="/list">게시물 보기</a>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>