<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">
    <div th:replace="fragments/loginBodyHeader :: bodyHeader"></div>
    <div>
        <script th:if="${exception != null}">
            alert("아이디 또는 비밀번호가 틀렸습니다");
        </script>
        <form method="post" action="/user/login">
            <div class="mb-3">
                <label for="id" class="melog-input-label">id</label>
                <input type="text" class="melog-textarea" id="id" name="id" placeholder="id">
            </div>
            <div class="mb-3">
                <label for="password" class="melog-input-label">password</label>
                <input type="password" class="melog-textarea" id="password" name="password" placeholder="password" required>
            </div>
            <div class="d-flex justify-content-center p-3">
                <input
                        id="login-btn" class="melog-button" type="submit" value="로그인" required>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>