@font-face {
    font-family: 'BinggraeSamanco-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.melog-title {
    font-family: 'BinggraeSamanco-Bold';
}

.melog-button {
    width: 75px;
    height: 32px;
    font-size: 13px;
    font-family: "Nanum Gothic";
    color: white;
    text-align: center;
    background: #20c997;
    border-radius: 30px;
    border: #00000000;
}

.melog-submit-button {
    width: 75px;
    height: 32px;
    font-size: 13px;
    font-family: "Nanum Gothic";
    color: white;
    text-align: center;
    background: #20c997;
    border-radius: 30px;
    border: #00000000;
}

.melog-input {
    font-family: "Nanum Gothic";
    color: black;
    width: 100%;
    padding: 5px 10px;
    overflow: visible;
    cursor: auto;
    border-radius: 10px;
    border-color: #20c997;
    border-width: 1px;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.melog-input-label {
    font-family: "Nanum Gothic";
    color: black;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 5px;
}

.melog-input:focus {
    outline: none;
}

.melog-textarea {
    font-family: "Nanum Gothic";
    color: black;
    width: 100%;
    padding: 5px 10px;
    overflow: visible;
    cursor: auto;
    border-radius: 10px;
    border-color: #20c997;
    border-width: 1px;
    resize: none;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.melog-textarea:focus {
    outline: none;
}

.melog-view-title {
    font-family: "Nanum Gothic";
    color: black;
    font-weight: bold;
    width: 100%;
    olor: black;
    font-weight: bold;
    font-size: 30px;
}

.melog-view-writer {
    font-family: "Nanum Gothic";
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.melog-view-write-time {
    font-family: "Nanum Gothic";
    color: gray;
    font-weight: normal;
    font-size: 14px;
    float: end;
}

.melog-error-text {
    font-family: "Nanum Gothic";
    color: red;
    font-weight: normal;
    font-size: 12px;
    float: bottom;
}

.melog-view-content {
    width: 100%;
    font-family: "Nanum Gothic";
    color: black;
    font-weight: normal;
    font-size: 16px;
}

.melog-view-count {
    font-family: "Nanum Gothic";
    color: gray;
    font-weight: normal;
    font-size: 16px;
    float: end;
    margin-left: 10px;
}

.melog-content-div {
    margin-top: 20px;
    margin-bottom: 100px;
}